* {
    box-sizing: border-box;
    user-select: none;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 200px;
}

.title div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.title h1 {
    margin: 0% 10px;
}

.number {
    font-size: 0.8em;
    background: grey;
    color: white;
    border-radius: 10px;
    padding: 2px 6px 2px 5px;
}

.para {
    color: gray;
    margin: 15px 0px;
}

#preview {
    display: none;
}

.view {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(77, 169, 255);
}

.eye {
    width: 25px;
    margin-right: 5px;
}

.view p {
    cursor: pointer;
    font-weight: bold;
}

/* Conatiner */

#container {
    padding: 50px 2%;
    display: flex;
    justify-content: space-between;
    gap: 1.1em;
}

/* Left Container */

#leftContainer {
    width: 15%;

}

.leftItems {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    width: 60%;
    border-radius: 10px;
    padding-left: 10px;
}

.leftItems img {
    width: 15px;
}

.leftItems p {
    margin-left: 5px;
    line-height: 40px;
    font-weight: bold;
    color: grey;
    list-style: none;
}

.leftItems:nth-child(2) {
    background: rgba(77, 169, 255, 0.15);
}

.leftItems:nth-child(2) p {
    color: rgb(77, 169, 255);
}

/* Main Container */

#mainContainer {
    width: 60%;
}

.subContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 35px;
    border: 1px solid grey;
    border-radius: 15px;
    margin-bottom: 20px;
}

.head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.body {
    display: flex;
    align-items: start;
    justify-content: center;
}


.body span {
    color: white;
    border-radius: 50px;
    margin-top: -5px;
    margin-right: 10px;
    padding: 4px 8px;
    background: rgb(77, 169, 255);
}

.body p {
    font-weight: bold;
}

.head img {
    width: 15px;
    margin-right: 5px;
    align-self: flex-start;
    cursor: pointer;
}

.head .asked {
    flex-grow: 1;
}

.ans {
    display: none;
}

#ans3 {
    flex-direction: column;
}

button {
    margin-top: 20px;
    padding: 15px 20px;
    width: 100px;
    border-radius: 8px;
    background: rgb(116, 252, 116);
    border: none;
    cursor: pointer;
}

button:active {
    background: rgb(77, 169, 255);
}

button:focus {
    background: rgb(77, 169, 255);
}

.up-chevron {
    display: none;
}

.area {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 8px;
    width: 60em;
    height: 10em;
}

.yes,
.no {
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px 20px;
    border: 1px solid grey;
    color: grey;
}

#ans4 {
    margin-top: 20px;
    flex-direction: column;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin-top: 10px;
}

/* Right Container */

#rightContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
}

#rightContainer h4 {
    padding-bottom: 10px;
}

#rightContainer h4 img {
    width: 10px;
    padding-bottom: 1px;
}

.selector label span {
    padding: 10px;
}

label,
input {
    cursor: pointer;
    color: grey;
}

.card {
    padding: 20px;
    border-radius: 10px;
    margin: 20px 0;
    background: rgba(255, 213, 165, 0.4);
}

.card p {
    margin: 15px 0;
}

/* Media Qurey */

@media (max-width: 1580px) {
    #leftContainer {
        display: none;
    }

    #mainContainer {
        width: 80%;
    }

    #rightContainer {
        width: 20%;
    }

}
